In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
df1 = pd.read_csv('../dataset/LPOINT_BIG_COMP/LPOINT_BIG_COMP_01_DEMO.csv')
df2 = pd.read_csv('../dataset/LPOINT_BIG_COMP/LPOINT_BIG_COMP_02_PDDE.csv')
df3 = pd.read_csv('../dataset/LPOINT_BIG_COMP/LPOINT_BIG_COMP_03_COP_U.csv')
df4 = pd.read_csv('../dataset/LPOINT_BIG_COMP/LPOINT_BIG_COMP_04_PD_CLAC.csv')
df5 = pd.read_csv('../dataset/LPOINT_BIG_COMP/LPOINT_BIG_COMP_05_BR.csv')
df6 = pd.read_csv('../dataset/LPOINT_BIG_COMP/LPOINT_BIG_COMP_06_LPAY.csv')

/tmp/ipykernel_121912/2375239931.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('../dataset/LPOINT_BIG_COMP/LPOINT_BIG_COMP_02_PDDE.csv')

In [3]:
## data 1, 2,4,5 합치기
data12 = pd.merge(df1,df2,on='cust')
data124 = pd.merge(data12,df4, on='pd_c')
data1245 = pd.merge(data124,df5, on='br_c')

In [5]:
display(data1245)

,cust,ma_fem_dv,ages,zon_hlv_x,rct_no,chnl_dv,cop_c_x,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct,pd_nm,clac_hlv_nm,clac_mcls_nm,cop_c_y,zon_hlv_y,zon_mcls
0,M000034966,여성,40대,Z07,A01016688590,1,A01,A010045,PD0777,20210116,18,59000.0,1,남성런닝/트레이닝화,스포츠패션,남성스포츠화,A01,Z16,Z16003
1,M000034966,여성,40대,Z07,A01016688590,1,A01,A010045,PD0777,20210116,18,19000.0,1,남성런닝/트레이닝화,스포츠패션,남성스포츠화,A01,Z16,Z16003
2,M001729158,여성,40대,Z03,A01431235584,1,A01,A010045,PD0777,20211111,13,35000.0,1,남성런닝/트레이닝화,스포츠패션,남성스포츠화,A01,Z16,Z16003
3,M001729158,여성,40대,Z03,A01431235584,1,A01,A010045,PD0777,20211111,13,35000.0,1,남성런닝/트레이닝화,스포츠패션,남성스포츠화,A01,Z16,Z16003
4,M002238144,여성,20대,Z16,A01205299558,1,A01,A010045,PD0777,20210601,14,14000.0,1,남성런닝/트레이닝화,스포츠패션,남성스포츠화,A01,Z16,Z16003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3953237,M309144365,여성,50대,Z14,A05004244920,1,A05,A050377,PD1676,20211121,18,37900.0,1,공유기,컴퓨터,컴퓨터주변기기,A05,Z14,Z14004
3953238,M611231289,남성,50대,Z14,A05002562450,1,A05,A050372,PD1676,20210720,13,25500.0,1,공유기,컴퓨터,컴퓨터주변기기,A05,Z14,Z14004
3953239,M562358473,여성,40대,Z03,A05001644283,1,A05,A050434,PD0552,20210508,12,38000.0,1,전기프라이팬,생활/주방가전,주방가전,A05,Z03,Z03004
3953240,M947674013,남성,50대,Z06,A04033564464,1,A04,A044321,PD0521,20210502,18,3500.0,1,택배,생활/렌탈서비스,생활서비스,A04,Z06,Z06013
3953241,M154721308,남성,60대,Z12,A05004146457,1,A05,A050354,PD0338,20211113,17,850000.0,1,뚜껑형김치냉장고,냉장/세탁가전,냉장/냉동고,A05,Z12,Z12005

In [6]:
# 칼럼 이름 바꾸기
data1245.rename(columns = {'zon_hlv_x':'live_zon','zon_hlv_y':'shop_zon'},inplace=True)
# 필요없는 칼럼 삭제
data1245_drop = data1245.drop(['rct_no','chnl_dv','pd_c','cop_c_y','pd_nm','clac_hlv_nm','de_dt','cop_c_x'],axis=1)

In [ ]:
# 라벨 인코더
from sklearn.preprocessing import LabelEncoder

#성별
le = LabelEncoder()
sex = le.fit_transform(data1245_drop['ma_fem_dv'])
data1245_drop['ma_fem_dv'] = sex

# ages
le2 = LabelEncoder()
ages = le2.fit_transform(data1245_drop['ages'])
le2.classes_
data1245_drop['ages'] = ages

# cust
le3 = LabelEncoder()
cust = le3.fit_transform(data1245_drop['cust'])
data1245_drop['cust'] = cust

# zone
le4 = LabelEncoder()
live_zon = le4.fit_transform(data1245_drop['live_zon'])
shop_zon = le4.fit_transform(data1245_drop['shop_zon'])
data1245_drop['live_zon'] = live_zon
data1245_drop['shop_zon'] = shop_zon

# clac_mcls_nm
le5 = LabelEncoder()
clac_mcls_nm = le5.fit_transform(data1245_drop['clac_mcls_nm'])
data1245_drop['clac_mcls_nm'] = clac_mcls_nm

# zon_mcls
le6 = LabelEncoder()
zon_mcls = le6.fit_transform(data1245_drop['zon_mcls'])
data1245_drop['zon_mcls'] = zon_mcls

display(data1245_drop)

,cust,ma_fem_dv,ages,live_zon,br_c,de_hr,buy_am,buy_ct,clac_mcls_nm,shop_zon,zon_mcls
0,0,1,2,6,A010045,18,59000.0,1,54,15,215
1,0,1,2,6,A010045,18,19000.0,1,54,15,215
2,40,1,2,2,A010045,13,35000.0,1,54,15,215
3,40,1,2,2,A010045,13,35000.0,1,54,15,215
4,54,1,0,15,A010045,14,14000.0,1,54,15,215
...,...,...,...,...,...,...,...,...,...,...,...
3953237,8077,1,3,13,A050377,18,37900.0,1,314,13,203
3953238,15947,0,3,13,A050372,13,25500.0,1,314,13,203
3953239,14703,1,2,2,A050434,12,38000.0,1,288,2,22
3953240,24744,0,3,5,A044321,18,3500.0,1,134,5,69
3953241,4051,0,4,11,A050354,17,850000.0,1,80,11,178

In [ ]:

# training data set
t_data = data1245_drop['br_c'].values.reshape(-1,1)
x_data = data1245_drop.drop(['br_c'],axis=1)

# t_data label
le_t = LabelEncoder()
t_data_label = le_t.fit_transform(t_data)
t_data = t_data_label.reshape(-1,1)
display(t_data)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([[  44],
       [  44],
       [  44],
       ...,
       [6748],
       [4989],
       [6668]])

In [ ]:
# training, test data split
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

x_train, x_test, y_train, y_test = train_test_split(x_data,t_data,test_size=0.2,random_state=42)

In [ ]:
# scaler
# robust scaler
from sklearn.preprocessing import RobustScaler
robust_scaler = RobustScaler()
robust_scaler.fit(x_train)
x_train_sclaer = robust_scaler.transform(x_train)
x_test_scaler = robust_scaler.transform(x_test)

In [ ]:
# 모델 학습
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=3, random_state=0)

model.fit(x_train[:85000], y_train[:85000])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

RandomForestClassifier(n_estimators=3, random_state=0)

In [ ]:
print(model.score(x_train[:20000], y_train[:20000]))

0.92355

In [ ]:
print(model.score(x_test[:20000], y_test[:20000]))

0.6241

In [4]:
data13 = pd.merge(df1,df3, on='cust')
data135 = pd.merge(data13,df5,on='br_c')
data135.rename(columns = {'zon_hlv_x':'live_zon','zon_hlv_y':'shop_zon'},inplace=True)
data23 = pd.concat([data1245,data135],axis=0)
display(data23)

,cust,ma_fem_dv,ages,zon_hlv_x,rct_no,chnl_dv,cop_c_x,br_c,pd_c,de_dt,...,buy_ct,pd_nm,clac_hlv_nm,clac_mcls_nm,cop_c_y,zon_hlv_y,zon_mcls,live_zon,vst_dt,shop_zon
0,M000034966,여성,40대,Z07,A01016688590,1,A01,A010045,PD0777,20210116,...,1.0,남성런닝/트레이닝화,스포츠패션,남성스포츠화,A01,Z16,Z16003,NaN,NaN,NaN
1,M000034966,여성,40대,Z07,A01016688590,1,A01,A010045,PD0777,20210116,...,1.0,남성런닝/트레이닝화,스포츠패션,남성스포츠화,A01,Z16,Z16003,NaN,NaN,NaN
2,M001729158,여성,40대,Z03,A01431235584,1,A01,A010045,PD0777,20211111,...,1.0,남성런닝/트레이닝화,스포츠패션,남성스포츠화,A01,Z16,Z16003,NaN,NaN,NaN
3,M001729158,여성,40대,Z03,A01431235584,1,A01,A010045,PD0777,20211111,...,1.0,남성런닝/트레이닝화,스포츠패션,남성스포츠화,A01,Z16,Z16003,NaN,NaN,NaN
4,M002238144,여성,20대,Z16,A01205299558,1,A01,A010045,PD0777,20210601,...,1.0,남성런닝/트레이닝화,스포츠패션,남성스포츠화,A01,Z16,Z16003,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248244,M832975667,남성,50대,NaN,21021217D023450224,1,D02,D020390,NaN,20210212,...,NaN,NaN,NaN,NaN,D02,NaN,Z03002,Z17,20210212.0,Z03
248245,M934340701,남성,60대,NaN,21031912E010292000,1,E01,E010035,NaN,20210319,...,NaN,NaN,NaN,NaN,E01,NaN,Z17013,Z10,20210319.0,Z17
248246,M953988537,남성,50대,NaN,21021217E012723835,1,E01,E010024,NaN,20210212,...,NaN,NaN,NaN,NaN,E01,NaN,Z06002,Z06,20210212.0,Z06
248247,M960309912,남성,30대,NaN,21012813D023213058,1,D02,D020137,NaN,20210128,...,NaN,NaN,NaN,NaN,D02,NaN,Z14001,Z10,20210128.0,Z14
248248,M984669135,여성,30대,NaN,21100212D023114470,1,D02,D020196,NaN,20211002,...,NaN,NaN,NaN,NaN,D02,NaN,Z05014,Z13,20211002.0,Z05

In [5]:
## DBSCAN
data23_drop = data23[['cop_c_x','zon_mcls']]
display(data23_drop)

       cop_c_x zon_mcls
0          A01   Z16003
1          A01   Z16003
2          A01   Z16003
3          A01   Z16003
4          A01   Z16003
...        ...      ...
248244     D02   Z03002
248245     E01   Z17013
248246     E01   Z06002
248247     D02   Z14001
248248     D02   Z05014

[4201491 rows x 2 columns]

In [6]:
# zon_mcls
from sklearn.preprocessing import LabelEncoder

le_zon = LabelEncoder()
zon_mcls = le_zon.fit_transform(data23_drop['zon_mcls'])
data23_drop['zon_mcls'] = zon_mcls

# cop_c_x
le_cop = LabelEncoder()
cop_c_x = le_cop.fit_transform(data23_drop['cop_c_x'])
data23_drop['cop_c_x'] = cop_c_x

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [7]:
display(data23_drop)

        cop_c_x  zon_mcls
0             0       218
1             0       218
2             0       218
3             0       218
4             0       218
...         ...       ...
248244        9        20
248245       10       244
248246       10        58
248247        9       203
248248        9        48

[4201491 rows x 2 columns]

In [1]:
from sklearn.cluster import DBSCAN

# epsilon, 최소 샘플 개수 설정
model = DBSCAN(eps=0.5, min_samples=2)

# 군집화 모델 학습 및 클러스터 예측 결과 반환
model.fit(data23_drop[:30000])

NameError: ignored

In [ ]:
data23_drop['cluster'] = model.fit_predict(data23_drop[:10000])

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize = (8, 8))

# 이상치 번호는 -1, 클러스터 최대 숫자까지 iteration
for i in range(-1, df_scale['cluster'].max() + 1):
    plt.scatter(df_scale.loc[df_scale['cluster'] == i, 'Annual Income (k$)'], df_scale.loc[df_scale['cluster'] == i, 'Spending Score (1-100)'], 
                    label = 'cluster ' + str(i))

plt.legend()
plt.title('eps = 0.5, min_samples = 2', size = 15)
plt.xlabel('Annual Income', size = 12)
plt.ylabel('Spending Score', size = 12)
plt.show()